@import "./font.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ddd;
}
.container {
  width: 549.4px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222;
}
